
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

.box{
	
	position: absolute;

	width: 80vw;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}

nav {
	background: transparent;
	height: 80px;
	width: 100%;
}
label.logo {
	color: black;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: black;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: transparent;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
}


body {
	 background: linear-gradient(45deg, #fc466b, #3f5efb);
	 height: 100vh;
}
 .container {
 	width:40%;
 	position: relative;
}
 .form {
	 background: rgba(255, 255, 255, 0.3);
	 padding: 3em;
	 border-radius: 20px;
	 border-left: 1px solid rgba(255, 255, 255, 0.3);
	 border-top: 1px solid rgba(255, 255, 255, 0.3);
	 backdrop-filter: blur(10px);
	 box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
	 text-align: center;
	 position: relative;
	 transition: all 0.2s ease-in-out;
	 
}

 .form1{
	 background: rgba(255, 255, 255, 0.3);
	 padding: 3em;
	 border-radius: 20px;

	 backdrop-filter: blur(10px);
	 box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
	 text-align: center;
	 position: relative;
	 transition: all 0.2s ease-in-out;
	 overflow-y: scroll;
}
 .form p {
	 font-weight: 500;
	 color: black;
	 opacity: 0.7;
	 font-size: 1.4rem;
	 margin-top: 0;
	 margin-bottom: 60px;
	 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
 .form a {
	 text-decoration: none;
	 color:black;
	 font-size: 12px;
}
 .form a:hover {
	 text-shadow: 2px 2px 6px #000 40;
}
 .form a:active {
	 text-shadow: none;
}

.inputImage{
	background: transparent;
		 
	 margin-bottom: 2em;
	 border: none;
	 border-left: 1px solid rgba(255, 255, 255, 0.3);
	 border-top: 1px solid rgba(255, 255, 255, 0.3);
	 border-radius: 5000px;
	 backdrop-filter: blur(5px);
	 box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
	 color: black;
	 font-family: Montserrat, sans-serif;
	 font-weight: 500;
	 transition: all 0.2s ease-in-out;
	 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
 .form .input {
	 background: transparent;
	 width: 70%;
	 padding: 1em;
	 margin-bottom: 2em;
	 border: none;
	 border-left: 1px solid rgba(255, 255, 255, 0.3);
	 border-top: 1px solid rgba(255, 255, 255, 0.3);
	 border-radius: 5000px;
	 backdrop-filter: blur(5px);
	 box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
	 color: black;
	 font-family: Montserrat, sans-serif;
	 font-weight: 500;
	 transition: all 0.2s ease-in-out;
	 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
 .form .input:hover {
	 background: rgba(255, 255, 255, 0.1);
	 box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
 .form .input[type="email"]:focus, form input[type="password"]:focus {
	 background: rgba(255, 255, 255, 0.1);
	 box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
 .form .input[type="submit"] {
	 margin-top: 10px;
	 width: 150px;
	 font-size: 1rem;
}
 .form .input[type="submit"]:hover {
	 cursor: pointer;
}
 .form .input[type="submit"]:active {
	 background: rgba(255, 255, 255, 0.2);
}
 .form:hover {
	 margin: 4px;
}
 ::placeholder {
	 font-family: Montserrat, sans-serif;
	 font-weight: 400;
	 color: black;
	 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
 .drop {
	 background: rgba(255, 255, 255, 0.3);
	 backdrop-filter: blur(10px);
	 border-radius: 10px;
	 border-left: 1px solid rgba(255, 255, 255, 0.3);
	 border-top: 1px solid rgba(255, 255, 255, 0.3);
	 box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
	 position: absolute;
	 transition: all 0.2s ease;
}
 .drop-1 {
	 height: 80px;
	 width: 80px;
	 top: -20px;
	 left: -40px;
	 z-index: -1;
}
 .drop-2 {
	 height: 80px;
	 width: 80px;
	 bottom: -30px;
	 right: -10px;
}
 .drop-3 {
	 height: 100px;
	 width: 100px;
	 bottom: 120px;
	 right: -50px;
	 z-index: -1;
}
 .drop-4 {
	 height: 120px;
	 width: 120px;
	 top: -60px;
	 right: -60px;
}
 .drop-5 {
	 height: 60px;
	 width: 60px;
	 bottom: 170px;
	 left: 90px;
	 z-index: -1;
}
 a, .input:focus, select:focus, textarea:focus, .button:focus {
	 outline: none;
}

table {
	 width: 100%;
	 height:100%;
	 overflow: hidden;
	 box-shadow: 0 0 20px rgba(0,0,0,0.1);
	 border:0px oldlace;
}
 th, td {
	 padding: 15px;
	 background-color: rgba(255,255,255,0.3);
	 color: black;
}


 tbody tr:hover {
	 background-color: rgba(255,255,255,0.3);
	 border:0px;
}
 tbody td {
	 position: relative;
}

 tbody td:hover:before {
	 content: "";
	 position: absolute;
	 left: 0;
	 right: 0;
	 top: -9999px;
	 bottom: -9999px;
	 background-color: rgba(255,255,255,0.2);
	 z-index: -1;
	 border:0px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
 